problem-1

In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''ans-DATABASE-structured or arranged form of data,which can be accessed through various 
possible ways
SQL needs specific structures and attain a particular schema,it is quite safe and 
efficient to handle complex queries.

NOSQL need not to be organised it can be in json format,graph based format,flexibility 
is more in NOSQL,and schema varies from database to database.'''

'ans-DATABASE-structured or arranged form of data,which can be accessed through various \npossible ways\nSQL needs specific structures and attain a particular schema,it is quite safe and \nefficient to handle complex queries.\n\nNOSQL need not to be organised it can be in json format,graph based format,flexibility \nis more in NOSQL,and schema varies from database to database.'

problem-2

In [4]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''ans-database definition language used to describe data and its relationship.it is 
a subset of SQL.'''

#1)CREATE(creating a database):
'''import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE test3")
mydb.close()


#2)drop
 it will drop a table from a database
#  DROP TABLE table_name;


#3)alter:used to play with the columns of the table
   ALTER TABLE table_name
       ADD c5(255);    


#4)truncate:this command deletes the data inside a table not the actual table
#  TRUNCATE TABLE table_name;
'''

'import mysql.connector\nmydb=mysql.connector.connect(\n    host="localhost",\n    user="abc",\n    password="password",\n)\nmycursor=mydb.cursor()\nmycursor.execute("CREATE DATABASE test3")\nmydb.close()\n\n\n#2)drop\n it will drop a table from a database\n#  DROP TABLE table_name;\n\n\n#3)alter:used to play with the columns of the table\n   ALTER TABLE table_name\n       ADD c5(255);    \n\n\n#4)truncate:this command deletes the data inside a table not the actual table\n#  TRUNCATE TABLE table_name;\n'

problem-3

In [5]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''ans-data manipulation language comprising of many languages and giving the rights 
to manipulate with the data.'''

#INSERT:used to insert new records/rows in a table
'''INSERT INTO table_name (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('mohan', 'mohan.py', 'west_winsor', 'asjdwd', '543', 'JDHvevg');'''

#UPDATE:used to update exisiting rows
'''UPDATE table_name
SET ContactName = 'asddsfb', City= 'ncwdcnd'
WHERE CustomerID = 0;'''

#DELETE:used to delete exisiting records
'''DELETE FROM Customers WHERE CustomerName='sndwkdcb';'''

"DELETE FROM Customers WHERE CustomerName='sndwkdcb';"

problem-4

In [6]:
#4. What is DQL? Explain SELECT with an example.
'''data queries languages used to make various queries in a database,sql is an example.'''

'''import mysql.connector
mydb=mysql.connector.connect(
    host="xxxxxxx",
    user="xxxxxxxx",
    password="xxxxxxxx",
)
mycursor=mydb.cursor()
mycursor.execute("select * from test1.test1_table")             #select
for i in mycursor.fetchall():
    print(i)

mydb.close()'''

'import mysql.connector\nmydb=mysql.connector.connect(\n    host="xxxxxxx",\n    user="xxxxxxxx",\n    password="xxxxxxxx",\n)\nmycursor=mydb.cursor()\nmycursor.execute("select * from test1.test1_table")             #select\nfor i in mycursor.fetchall():\n    print(i)\n\nmydb.close()'

problem-5

In [7]:
#Q5. Explain Primary Key and Foreign Key.
'''A primary key is used such that the data in the specific column
is unique. A column cannot have NULL values. 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.'''

'A primary key is used such that the data in the specific column\nis unique. A column cannot have NULL values. \n\nA foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.'

problem-6

In [8]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
#connecting mysql with python
'''import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE test3")
mydb.close() '''

#the methpd cursor() is basically used to read the data and iterate through it
#and execute() is just like a run buttton after its implementation command inside it executes

'import mysql.connector\nmydb=mysql.connector.connect(\n    host="localhost",\n    user="abc",\n    password="password",\n)\nmycursor=mydb.cursor()\nmycursor.execute("CREATE DATABASE test3")\nmydb.close() '

problem-7

In [9]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
'''like bodmas rule in mathematics we have the order of execution here also

FROM/JOIN
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET
'''

'like bodmas rule in mathematics we have the order of execution here also\n\nFROM/JOIN\nWHERE\nGROUP BY\nHAVING\nSELECT\nORDER BY\nLIMIT/OFFSET\n'